body{
  font-family: "Roboto Mono";
}
h1{
  font-family: "Roboto Mono";
  font-size: 3.5rem;
  line-height: 1.5;
}
h3{
  font-weight:bolder;
}
p{
  color: #8f8f8f;
}
/*Id Tags */
#title{
  background-color: #ff4c68;
  color: #fff;
}
#features{
  padding: 7% 10%;
  background-color: #fff;
  position: relative;
}
#testimonials{
  background-color: #ef8172;
  text-align: center;
  color: #fff;
}
#press{
  background-color: #ef8172;
  padding-bottom:7% ;
  text-align: center;
}
#pricing{
  text-align: center;
  padding: 100px 80px;
}
#cta{
  background-color: #ff4c68;
  text-align: center;
  padding: 3% 10%;
}
#footer{
  text-align: center;
  padding: 1% 10%;
}
/* Title Section */
.container-fluid{
  padding: 3% 15% 20%;
}
.navbar{
  padding:0 0 4.5rem;
}
.navbar-brand{
  font-family: "ubuntu";
  font-size:2.5rem;
}
.nav-item{
  padding: 0 20px;
}
.iphone-mockup{
transform: rotate(15deg);
position: absolute;
right: 20%;
}
/* Download Button/ */
.download-btn{
  margin: 25px 7px;
}
/* Feature */
.feature-box{
  text-align: center;
  }
.feature-icon{
  color: #ef8172;
  padding: 20px 0;
}
.feature-icon:hover{
  color: #ff4c68
}
/* Testimonials */
.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px 20px;
}
/* Carousel Section */
.carousel-item
{
padding: 7% 10%;
}
/* Press Section */
.press-image{
  width: 15%;
  padding: 0 30px;
}
/* CTA Section */
.cta-text{
  color: #fff;
  font-size: 3rem;
  line-height: 2;
}
/* Footer */
.footer-icon{
  color: black;
  margin: 20px 10px;
}
/* Media Query */
@media (max-width:1208px) {
#title{
  text-align: center;
}
.iphone-mockup{
  position: static;
  transform: rotate(0deg);
}
}
